# Indicates version of this file, please don't touch!
file-protocol-version-dont-touch: 1

# Boss bar shown on the screen when player has lugol's iodine effect.
lugols-iodine-bar:
  # Colorable title shown on the bar.
  title: 'Lugol''s Iodine Effect'
  # Color of the bar, possible values:
  # blue, green, pink, purple, red, white, yellow
  color: green
  # Style of the bar, possible values:
  # segmented_6, segmented_10, segmented_12, segmented_20, solid
  style: segmented_20
  # Additional effects given for the player, possible values:
  # create_fog, darken_sky, play_boss_music
  flags: []

# Lugol's iodine potion item options.
lugols-iodine-potion:
  recipe:
    # Should the potion be brewable in brewing stand?
    enabled: true
    # Base potion type. List of potion types is available here:
    # https://papermc.io/javadocs/paper/1.15/org/bukkit/potion/PotionType.html
    base-potion: 'THICK'
    # Ingredient item ID.
    # IDs can be obtained when hovering over items using F3+H debug mode.
    ingredient: 'ghast_tear'

  # Name of the item.
  name: 'Lugol''s Iodine'
  # Color of the potion in HEX format, leave empty for base potion color.
  # Please visit https://htmlcolorcodes.com/ to obtain HEX color.
  color: '#197d14'
  # Description of the item. {0} will be replaced with the duration of the potion effect.
  description: 'Radiation resistance ({0})'
  # Duration in seconds of effect given when a player consumes the potion, 10 seconds by default.
  duration: 600
  # Colorable broadcast message shown when a player consumes the potion, leave empty for no message.
  drink-message: '{0}&c drank {1}.'

# Radiation zone options.
radiation:
  # Boss bar shown on the screen when a player is in the zone.
  bar:
    # Colorable title shown on the bar.
    title: 'Radiation Zone'
    # Color of the bar, possible values:
    # blue, green, pink, purple, red, white, yellow
    color: red
    # Style of the bar, possible values:
    # segmented_6, segmented_10, segmented_12, segmented_20, solid
    style: solid
    # Additional effects given for the player, possible values:
    # create_fog, darken_sky, play_boss_music
    flags: [darken_sky]
  # Effects given in the radiation zone.
  effects:
    # Name of the effect. List of effect names is available here:
    # https://minecraft.gamepedia.com/Status_effect#Effect_IDs
    wither:
      # Level of the effect, eg. level 5 gives Wither V effect.
      level: 5
      # Should this effect produce more, translucent, particles?
      ambient: false
      # Does this effect produce particles?
      has-particles: false
      # Does this effect give an icon?
      has-icon: false
    hunger:
      # Level of the effect, eg. level 5 gives Wither V effect.
      level: 1
      # Should this effect produce more, translucent, particles?
      ambient: false
      # Does this effect produce particles?
      has-particles: false
      # Does this effect give an icon?
      has-icon: false
  # Colorable broadcast message shown when a player enters radiation zone, leave empty for no message/
  escape-message: '{0}&c has escaped to radiation zone.'
